.diver {
  background-color: #2581c1;
  color: #fff;
  padding: 20px 20px 20px 60px;
}
ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 20px;
}
p {
  text-align: right;
}

img {
  width: 6%;
  margin-left: 60px;
}
@media (max-width: 750px) {
  text-align: center;
ul {
  padding: 0;
}
p {
  text-align: center;
}
}
